<a href="https://colab.research.google.com/github/weicap/Pandaspy/blob/main/melt_pivot.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
import pandas as pd

In [7]:
df = pd.read_csv('car.csv')

In [12]:
df

,car_ID,symboling,CarName,fueltype,aspiration,doornumber,carbody,drivewheel,enginelocation,wheelbase,...,enginesize,fuelsystem,boreratio,stroke,compressionratio,horsepower,peakrpm,citympg,highwaympg,price
0,1,3,alfa-romero giulia,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495.0
1,2,3,alfa-romero stelvio,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500.0
2,3,1,alfa-romero Quadrifoglio,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500.0
3,4,2,audi 100 ls,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.40,10.0,102,5500,24,30,13950.0
4,5,2,audi 100ls,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.40,8.0,115,5500,18,22,17450.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
200,201,-1,volvo 145e (sw),gas,std,four,sedan,rwd,front,109.1,...,141,mpfi,3.78,3.15,9.5,114,5400,23,28,16845.0
201,202,-1,volvo 144ea,gas,turbo,four,sedan,rwd,front,109.1,...,141,mpfi,3.78,3.15,8.7,160,5300,19,25,19045.0
202,203,-1,volvo 244dl,gas,std,four,sedan,rwd,front,109.1,...,173,mpfi,3.58,2.87,8.8,134,5500,18,23,21485.0
203,204,-1,volvo 246,diesel,turbo,four,sedan,rwd,front,109.1,...,145,idi,3.01,3.40,23.0,106,4800,26,27,22470.0
204,205,-1,volvo 264gl,gas,turbo,four,sedan,rwd,front,109.1,...,141,mpfi,3.78,3.15,9.5,114,5400,19,25,22625.0

In [21]:
df[['fueltype','aspiration','peakrpm']]

    fueltype aspiration  peakrpm
0        gas        std     5000
1        gas        std     5000
2        gas        std     5000
3        gas        std     5500
4        gas        std     5500
..       ...        ...      ...
200      gas        std     5400
201      gas      turbo     5300
202      gas        std     5500
203   diesel      turbo     4800
204      gas      turbo     5400

[205 rows x 3 columns]

In [25]:
df.pivot_table(index='fueltype',columns='aspiration',values='peakrpm',aggfunc='sum')

aspiration     std   turbo
fueltype
diesel       32250   56450
gas         835650  126300

In [26]:
df[['fueltype','aspiration','peakrpm']].melt()

     variable value
0    fueltype   gas
1    fueltype   gas
2    fueltype   gas
3    fueltype   gas
4    fueltype   gas
..        ...   ...
610   peakrpm  5400
611   peakrpm  5300
612   peakrpm  5500
613   peakrpm  4800
614   peakrpm  5400

[615 rows x 2 columns]

In [27]:
df.melt(id_vars='fueltype',value_vars='aspiration')

    fueltype    variable  value
0        gas  aspiration    std
1        gas  aspiration    std
2        gas  aspiration    std
3        gas  aspiration    std
4        gas  aspiration    std
..       ...         ...    ...
200      gas  aspiration    std
201      gas  aspiration  turbo
202      gas  aspiration    std
203   diesel  aspiration  turbo
204      gas  aspiration  turbo

[205 rows x 3 columns]